# folders and files to be ignored by git


############
## SASS 
############
*.sass-cache*
*.map

############
## Packages
############
*.gz
*.iso
*.jar
*.rar
*.tar
*.tgz
*.zip


############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?
.Trashes
*.dmg

############
## Misc
############

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*

.svn
