//------------------------------------------------------------------------------
//
// Stylesheet: Mixins
//
// This is where you can take advantage of Sass' great features:
// Mixins & Constants.
//
// A WORD OF WARNING: It's very easy to overdo it here. Be careful and
// remember less is more.
//
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// CLEARFIXIN'
//

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
	zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}


//------------------------------------------------------------------------------
// TOOLS
//


// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


//------------------------------------------------------------------------------
// TYPOGRAPHY
//

@function calculateRem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}

@mixin fontSize($size) {
	font-size: $size; //Fallback in px
	font-size: calculateRem($size);
}


//------------------------------------------------------------------------------
// BOXES
//

@mixin box($margin, $padding, $border-width: 1px, $border-color: #c0c0c0) {
	border: $border-width solid $border-color;
	margin: $margin 0;
	padding: $padding;

}


.box {
	@include box($margin-medium, $padding-medium);

	&.medium {
		border-width: 3px;
	}

	&.thick {
		border-width: 5px;
	}

}

//------------------------------------------------------------------------------
// CSS3 GRADIENTS
//
// Be careful with these since they can really slow down your CSS. Don't overdo it.
//


@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}


// @include box-sizing(border-box); 
// NOTE: value of "padding-box" is only supported in Gecko. So
// probably best not to use it. I mean, were you going to anyway?
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}


//------------------------------------------------------------------------------
// Color Contrast
//

@import "compass/css3";

@function luma($color){
	// Adapted from: https://gist.github.com/voxpelli/6304812
	$rgba: red($color), green($color), blue($color);
	$rgba2: ();

	@for $i from 1 through 3 {
		$rgb: nth($rgba, $i);
		$rgb: $rgb / 255;
		$rgb: if($rgb < .03928, $rgb / 12.92, pow(($rgb + .055) / 1.055, 2.4));
		$rgba2: append($rgba2, $rgb);
	}

	@return (.2126 * nth($rgba2, 1) + .7152 * nth($rgba2, 2) + 0.0722 * nth($rgba2, 3)) * 100;
}

// Adapted from http://codepen.io/MadeByMike/pen/sDpxg
@function contrast_ratio($color1, $color2) {
	$luma1: luma($color1) + 5;
	$luma2: luma($color2) + 5;
	$ratio: $luma1 / $luma2;

	@if $luma1 < $luma2 {
		$ratio: 1 / $ratio;
	}

	@return $ratio;
}

@mixin color-contrast($fg_color, $bg_color: #ffffff){
	$contrast: contrast_ratio($fg_color, $bg_color);
	/* color contrast: #{$contrast}; */
}

@mixin fg-bg-colors($fg_color, $bg_color: #ffffff, $warn: 1){
	background-color: $bg_color;
	color: $fg_color;

	$contrast-ratio: contrast-ratio($fg_color, $bg_color);
	/* color contrast: #{$contrast-ratio}; */

	@if ($warn == 1){
		@if ($contrast-ratio < 4.5){
			@warn "the contrast between #{$fg_color} and #{$bg_color} is #{$contrast-ratio}, which that WCAG 2 Level AA";
		}
	}
}




