
//
// Skip Nav
//
.skip-nav {
	a {
		display: block;
		width: auto;
		padding: 1em;
		position: absolute;
		top: 2em;
		left: -999em;
		text-decoration: underline;


		&:link,
		&:visited {
			background-color: #990000;
			color: #ffffff;
		}


		&:hover, &:active, &:focus {
			left: 2em;
		}
	}

}

//
// all navs have a .nav class applied via
// the wp_menu function; this is so we can
// easily write one group of styles for
// the navs on the site so our css is cleaner
// and more scalable.
//

.nav {
	border: 1px solid #ccc;
	border-bottom: 0;

	li {

		a {
			display: block;
			text-decoration: none;
			padding: 10px 10px;
			background-color: #eee;
			border-bottom: 1px solid #ccc;

			//
			// remember this is for mobile ONLY, so there's no need
			// to even declare hover styles here, you can do it in
			// the style.scss file where it's relevant. We want to
			// keep this file as small as possible!
			//
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		//
		// so you really have to rethink your dropdowns for mobile.
		// you don't want to have it expand too much because the
		// screen is so small. How you manage your menu should
		// depend on the project. Here's some great info on it:
		// http://www.alistapart.com/articles/organizing-mobile/
		//
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} // end .menu li

	// highlight current page
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {}

	}  // end current highlighters

} // end .nav

