
//------------------------------------------------------------------------------
//      SPACING
//------------------------------------------------------------------------------
$spacing-tiny: 0.3em;
$spacing-small: 0.5em;
$spacing-medium: 1em;
$spacing-large: 2em;

$margin-tiny:   $spacing-tiny;
$margin-small:  $spacing-small;
$margin-medium: $spacing-medium;
$margin-large:  $spacing-large;

$padding-tiny:   $spacing-tiny;
$padding-small:  $spacing-small;
$padding-medium: $spacing-medium;
$padding-large:  $spacing-large;




//------------------------------------------------------------------------------
//      COLORS 
//------------------------------------------------------------------------------
// Need help w/ choosing your colors? Try this site out:
// http://0to255.com/
//

$alert-yellow-bg:      #fcf999;
$alert-yellow-border:  #f2d520;
$alert-red-bg:         #f4979b;
$alert-red-border:     #b41a20;
$alert-green-bg:       #9ef1a0;
$alert-green-border:   #1ab420;
$alert-blue-bg:        #00b2ff;
$alert-blue-border:    #1a20b4;

$black: #1a1a1a;
$white: #f7f7f7;

$gray-90: #e5e5e5;
$grey-90: $gray-90;
$gray-80: #cccccc;
$grey-80: $gray-80;
$gray-70: #b2b2b2;
$grey-70: $gray-70;
$gray-60: #999999;
$grey-60: $gray-60;
$gray-50: #7f7f7f;
$grey-50: $gray-50;
$gray-40: #666666;
$grey-40: $gray-40;
$gray-30: #4c4c4c;
$grey-30: $gray-30;
$gray-20: #333333;
$grey-20: $gray-20;
$gray-10: #191919;
$grey-10: $gray-10;

//
// Here's a great tutorial on how to
// use color variables properly:
// http://sachagreif.com/sass-color-variables/
//




//------------------------------------------------------------------------------
//      FONTS
//------------------------------------------------------------------------------

$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Georgia", Cambria, Times New Roman, Times, serif;
$monospace: "Hack", monospace;


//------------------------------------------------------------------------------
//      LEGEND
//------------------------------------------------------------------------------

$main-text-color: $grey-10;
$main-text-font: $sans-serif;
$main-text-size: 100%;

$link-main-color: #0000ff;
$link-main-bgcolor: transparent;

$link-visited-color: darken($link-main-color, 20%);
$link-visited-bgcolor: transparent;

$link-hover-color:  $white;
$link-hover-bgcolor:  #6f006f;

$link-active-color:  $white;
$link-active-bgcolor:  #ff9f00;

$form-highlight: $grey-90;


