.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.box {
  border: 1px solid #c0c0c0;
  margin: 1em 0;
  padding: 1em;
}
.box.medium {
  border-width: 3px;
}
.box.thick {
  border-width: 5px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

b, strong, .strong {
  font-weight: bold;
}

dfn, em, .em {
  font-style: italic;
}

small, .small {
  font-size: 75%;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

dd {
  margin: 0;
}

.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #333333;
}

a {
  color: #0000ff;
  background-color: inherit;
}
a:link {
  -webkit-tap-highlight-color: transparent;
}
a:visited {
  color: #000099;
}
a:hover, a:focus {
  color: #f7f7f7;
  background-color: #6f006f;
}
a:active {
  color: #f7f7f7;
  background-color: #ff9f00;
  font-weight: bold;
}

a[href$=".pdf"]:after {
  content: " (PDF)";
}

a[href$=".doc"]:after {
  content: " (DOC)";
}

a[href$=".xls"]:after {
  content: " (XLS)";
}

a[href$=".pdf"][data-size]:after {
  content: " (PDF, " attr(data-size) ")";
}

a[href$=".doc"][data-size]:after {
  content: " (DOC, " attr(data-size) ")";
}

a[href$=".xls"][data-size]:after {
  content: " (XLS, " attr(data-size) ")";
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
  text-rendering: optimizelegibility;
  font-weight: 500;
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

h2, .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}

h3, .h3 {
  font-size: 1.125em;
}

h4, .h4 {
  font-size: 1.1em;
  font-weight: 700;
}

h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
}
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

.footer {
  clear: both;
}

button, button:visited, .btn, .btn:visited {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 20px;
  padding: 0.3em 1em;
  text-decoration: none;
}
button:hover, button:focus, button:visited:hover, button:visited:focus, .btn:hover, .btn:focus, .btn:visited:hover, .btn:visited:focus {
  background-color: transparent;
  color: #0000ff;
}
button:active, button:visited:active, .btn:active, .btn:visited:active {
  background-color: #ff9f00;
  color: #f7f7f7;
}

form {
  border: 1px solid #cccccc;
  margin: 0.5em;
  padding: 0.5em;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=number] {
  width: 80%;
  margin: 1em auto;
}
input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=number]:focus {
  background-color: #e5e5e5;
  color: #1a1a1a;
}

input[type=submit] {
  padding: 0.3em;
}

textarea {
  width: 80%;
  height: 10em;
  margin: 1em auto;
}

label {
  display: block;
  text-align: left;
  padding: 0.3em 0;
}
label.align-right {
  text-align: right;
}
label.align-center {
  text-align: center;
}

.field {
  border-top: 1px solid #b2b2b2;
  padding: 1em 0;
}
.field:first-child {
  border-top: 0;
}

.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 1em;
  padding: 0.5em 1em;
  border: 1px solid;
}

.alert-help {
  border-color: #f2d520;
  background: #fcf999;
}

.alert-info {
  border-color: #1a20b4;
  background: #00b2ff;
}

.alert-error {
  border-color: #b41a20;
  background: #f4979b;
}

.alert-success {
  border-color: #1ab420;
  background: #9ef1a0;
}

.is-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.is-hidden, .hidden {
  display: none;
}

.is-off-screen, .screen-reader-text {
  position: absolute;
  margin-left: -10000px;
  overflow: hidden;
}

@media print {
  /******************************************************************
  Site Name: andrewwoods.net
  Author: Andrew Woods
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
