/******************************************************************
Site Name:
Author:

Stylesheet: Login Stylesheet

This stylesheet is loaded (if admin.php is setup in your
functions file) on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/

@import "settings"; // Colors, Spacing, Fonts

body.login {
	background-color: $main-page-color;
}

//
// This is the Wordpress logo in the admin area.
// You'll have to load your own images and mess
// with the width and height.
//
.login h1 a {
	// @todo make sure to replace this image!
	background: url(../images/login-logo.png) no-repeat top center;
	width: 326px;
	height: 67px;
	text-indent: -9999px;
	overflow: hidden;
	padding-bottom: 15px;
	display: block;
}

.login form {
	margin-left: 8px;
	padding: 26px 24px 46px;
	font-weight: normal;
	background: $main-page-color;
	border: 1px solid $brand-blue-light;
	border-radius: $spacing-medium $spacing-medium;
	-webkit-box-shadow: 2px 2px 8px $gray-30;
	-moz-box-shadow: 2px 2px 8px $gray-30;
	box-shadow: 2px 2px 8px $gray-30;
}

body form .input {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-weight: 200;
	font-size: 24px;
	width: 97%;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #E5E5E5;
	background: #FBFBFB;
	box-shadow: inset 1px 1px 2px $form-shadow-color;
}
body form .input:focus {
	border: 2px solid $form-highlight-color;
	background: #FBFBFB;
	box-shadow: inset 1px 1px 2px $form-highlight-color;
}

body.login #nav a {
	text-decoration: underline;

	&:link {
		background-color: transparent;
		color: $brand-primary-color;
	}
	&:visited {
		background-color: transparent;
		color: darken($brand-primary-color, 20%);
	}
	&:hover, &:focus {
		background-color: $brand-primary-color;
		color: $white;
	}
	&:active {
		background-color: $brand-secondary-color;
		color: $white;
	}
}

.login #backtoblog a {
	text-decoration: underline;
	&:link {
		background-color: transparent;
		color: $brand-primary-color;
	}

	&:visited {
		background-color: transparent;
		color: darken($brand-primary-color, 0.2); // 20% darker
	}

	&:hover, &:focus {
		background-color: $brand-primary-color;
		color: $white;
	}

	&:active {
		background-color: $brand-secondary-color;
		color: $white;
	}
}

//
// You'll have to override some of the default styles
// but since we're referencing the id, it should be easy.
//
#wp-submit {} // login button

